/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --main-header-font-size: 13px;
  --main-title-font-size: 48px;
  --main-text-font-size: 16px;
  --main-services-title-font-size: 28px;
  --main-text-font-weight: 400px;
  --main-footer-font-weight: 700px;
  --main-title-color: #fff;
  --main-bottom-text-color: #2d2641;
  --main-text-link-hover: #2c2830;
  --main-header-text-color: #837d88;
}

@font-face {
  font-display: swap; 
  font-family: "Karla";
  font-weight: 400;
  src: url("./fonts/karla-v31-latin-regular.woff2") format("woff2"), 
  url("./fonts/karla-v31-latin-regular.woff") format("woff");
}

@font-face {
  font-display: swap; 
  font-family: "Karla";
  font-weight: 700;
  src: url("./fonts/karla-v31-latin-700.woff2") format("woff2"), 
  url("./fonts/karla-v31-latin-700.woff") format("woff");
}

@font-face {
  font-display: swap; 
  font-family: "DM Serif Display";
  font-weight: 400;
  src: url("./fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2"), 
  url("./fonts/dm-serif-display-v15-latin-regular.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Karla", "Arial", sans-serif;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img {
  display: block;
  height: auto;
}

.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: o;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/menu.svg");
  background-size: 16px 12px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1.5px solid #2c2830;
}

.site-header__nav-wrapper {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.nav-list__link {
  color:  var(--main-header-text-color);
  font-size: var(--main-header-font-size);
  font-weight: var(--main-footer-font-weight);
  letter-spacing: 1.5px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.nav-list__link:hover {
  color: var(--main-text-link-hover);
}

.site-header__link {
  padding: 13px 28.5px 12px;
  color:  var(--main-text-link-hover);
  font-size: var(--main-header-font-size);
  font-weight: var(--main-footer-font-weight);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  border: 1.5px solid #2c2830;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.site-header__link:hover {
  color: var(--main-title-color);
  background-color: var(--main-text-link-hover);
}

.insure-section {
  background-image: url("../images/backgrounddeco.svg");
  background-repeat: no-repeat;
  background-size: 377px 351px;
  background-position: calc(50% + 245px) calc(50% - 220px);
}

.hero {
  padding-bottom: 93px;
  background-image: url("../images/backgroundline.svg");
  background-repeat: no-repeat;
  background-size: 485px 452px;
  background-position: calc(50% - 220px) calc(50% - 100px);
  background-color: #2d2641;
}

.hero__img-wrapper {
  width: 280px;
  margin-right: auto;
  margin-bottom: 93px;
  margin-left: auto;
}

.hero__img {
  width: 280px;
  height: 420px;
}

.hero__title-wrapper {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  margin-top: 0;
  margin-right: 2.5px;
  margin-bottom: 16px;
  margin-left: 2.5px;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: var(--main-title-font-size);
  font-weight: var(--main-text-font-weight);
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--main-title-color);
}

.hero__text {
  margin-top: 0;
  margin-right: 2.5px;
  margin-bottom: 32px;
  margin-left: 2.5px;
  text-align: center;
  font-size: var(--main-text-font-size);
  font-weight: var(--main-text-font-weight);
  line-height: 26px; 
  color: var(--main-title-color);
}

.hero__link {
  display: block;
  max-width: 155px;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 28.5px 12px;
  color: var(--main-title-color);
  font-size: var(--main-header-font-size);
  font-weight: var(--main-footer-font-weight);
  letter-spacing: 1.5px;
  border: 1.5px solid #fff;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.hero__link:hover {
  color: var(--main-text-link-hover);
  background-color: var(--main-title-color);
}

.services {
  padding-top: 140px;
  padding-bottom: 140px;
}

.services__title {
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: var(--main-title-font-size);
  font-style: normal;
  font-weight: var(--main-text-font-weight);
  line-height: 48px; 
  letter-spacing: -0.667px;
  color: var(--main-text-link-hover);
}

.services__title::before {
  display: block;
  width: 150px;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  content: "";
  background-color: #c396c6;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 56px;
}

.services__list-item::before {
  display: block;
  width: 86px;
  height: 86px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-size: 86px 86px;
}

.services__list-item:first-child::before {
  background-image: url("../images/process.svg");
}

.services__list-item:nth-child(2)::before {
  background-image: url("../images/prices.svg");
}

.services__list-item:last-child::before {
  background-image: url("../images/user.svg");
}

.services__list-item-wrapper {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.services__list-item-title {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: var(--main-services-title-font-size);
  font-weight: var(--main-text-font-weight);
  letter-spacing: -0.389px;
  color: var(--main-text-link-hover);
}

.services__list-item-text {
  margin-top: 0;
  margin-right: 3.5px;
  margin-bottom: 0;
  margin-left: 3.5px;
  text-align: center;
  font-size: var(--main-text-font-size);
  font-weight: var(--main-text-font-weight);
  line-height: 26px; 
  color: var(--main-header-text-color);
}


.services__link-article {
  margin-bottom: 140px;
  padding: 72px 24px;
  background-image: url("../images/backgrounddeco.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 240px) calc(50% - 100px);
  background-color: #2d2641;
}

.services__link-title {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 40px;
  font-weight: var(--main-text-font-weight);
  line-height: 40px;
  letter-spacing: -0.556px;
  color: var(--main-title-color);
}

.services__link {
  display: block;
  width: 169px;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 24.5px 12px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: var(--main-header-font-size);
  font-weight: var(--main-footer-font-weight);
  letter-spacing: 1.5px;
  color: var(--main-title-color);
  border: 1.5px solid #fff;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.services__link:hover {
  color: var(--main-text-link-hover);
  background-color: var(--main-title-color);
}

.footer {
  padding-top: 88px;
  padding-bottom: 88px;
  background-color: #fafafa;
  background-image: url("../images/backgrounddeco.svg");
  background-repeat: no-repeat;
  background-size: 467px 435px;
  background-position: calc(50% - 400px) calc(50% - 300px);
}

.footer__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #dadada;
}

.logo-link__img {
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.footer__social-link {
  color: var(--main-header-text-color);
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.footer__social-link:hover {
  color: var(--main-text-link-hover);
}

.footer__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.footer__link-title {
  display: block; 
  margin-bottom: 36px;
  text-align: center;
  font-size: var(--main-header-font-size);
  font-weight: var(--main-footer-font-weight);
  letter-spacing: 1.5px;
  color: var(--main-header-text-color);
}

.footer__link-list-item {
  text-align: center;
}

.footer__link-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__link-list-item:last-child {
  margin-bottom: 40px;
}

.footer__link-list-item-link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: var(--main-header-font-size);
  font-weight: var(--main-footer-font-weight);
  letter-spacing: 1.5px;
  color: var(--main-bottom-text-color);
  -webkit-transition: -webkit-text-decoration-line 0.3s linear;
  transition: -webkit-text-decoration-line 0.3s linear;
  -o-transition: text-decoration-line 0.3s linear;
  transition: text-decoration-line 0.3s linear;
  transition: text-decoration-line 0.3s linear, -webkit-text-decoration-line 0.3s linear;
}

.footer__link-list-item-link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.addition-item {
  margin-bottom: 0;
}

@media only screen and (min-width: 400px) {

  .hero__img-wrapper {
    width: 375px;
    height: 451px;
  }

  .hero__img {
    margin-right: auto;
    margin-left: auto;
  }

}


@media only screen and (min-width: 768px) {
  
  .container {
    padding: 0 30px;
  }
  
  .site-header {
    padding-top: 21px;
    padding-bottom: 19px;
  }
  
  .site-header__menu {
    display: none;
  }
  
  .site-header__nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .insure-section {
    position: relative;
    background-size: 697px 649px;
    background-position: calc(50% - 425px) calc(50% - 200px );
  }
  
  .hero {
    position: relative;
    padding-top: 105px;
    padding-bottom: 127px;
    background-size: 697px 649px;
    background-position: calc(50% + 535px) calc(50% - 150px);
  }
  
  .hero__img-wrapper {
    position: absolute;
    width: 280px;
    height: 420px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    left: calc(50% + 80px);
    top: calc(50% - 198px);
  }
  
  .hero__title-wrapper {
    display: inline-block;
    width: 450px;
    margin-right: 0;
    margin-left: 0;
  }
  
  .hero__title {
    margin-right: 0;
    margin-left: 0;
    text-align: start;
    font-size: 60px;
  }
  
  .hero__title::before {
    display: inline-block;
    width: 150px;
    height: 1px;
    margin-bottom: 45px;
    content:"" ;
    background-color: #fff;
  }
  
  .hero__text-wrapper {
    width: 420px;
  }
  
  .hero__text {
    margin-bottom: 24px;
    margin-right: 0;
    margin-left: 0;
    text-align: start;
    font-size: 14px;
  }
  
  .hero__link {
    display: inline-block;
    width: 135px;
    margin-right: 0;
    margin-left: 0;
    padding: 13px 18.5px 12px;
  }

  .services {
    padding-top: 275px;
    padding-bottom: 158px;
  }
  
  .services__title {
    margin-bottom: 86px;
    font-size: 60px;
    letter-spacing: -1px;
  }
  
  .services__title::before {
    margin-right: 0;
    margin-bottom: 53px;
    margin-left: 0;
  }
  
  .services__list {
    margin-bottom: 138px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 0;
  }
  
  .services__list-item::before {
    margin-right: 0;
    margin-left: 0;
  }
  
  .services__list-item-wrapper {
    display: inline-block;
    width: 220px;
    margin-right: 0;
    margin-left: 0;
  }
  
  .services__list-item-title {
    text-align: start;
    font-size: 24px;
  }
  
  .services__list-item-text {
    margin-right: 0;
    margin-left: 0;
    text-align: start;
    font-size: 14px;
  }
  
  .services__link-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 69px 80px 69px 81px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: calc(50% + 440px) calc(50% - 300px);
  }

  .services__link-article {
    margin-bottom: 140px;
    padding: 72px 24px;
    background-image: url("../images/backgrounddeco.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 240px) calc(50% - 100px);
    background-color: #2d2641;
  }
  
  .services__link-title-wrapper {
    width: 435px;
  }
  
  .services__link-title {
    text-align: start;
    font-size: 56px;
  }
  
  .services__link {
    padding: 13px 15px 12px;
  }
  
  .footer {
    padding-top: 64px;
    padding-bottom: 64px;
    background-position: calc(50%);
  }

  .footer__top-wrapper {
    padding-bottom: 33px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .logo-link__img {
    display: inline-block;  
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0;
  }
  
  .footer__bottom-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 48px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .footer__link-wrapper {
    width: 255px;
  }
  
  .footer__link-title {
    display: inline-block; 
    margin-bottom: 36px;
    text-align: start;
  }
  
  .footer__link-list-item {
    text-align: start;
  }
  
  .footer__link-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .footer__link-list-item:last-child {
    margin-bottom: 0px;
  }
  
}

@media only screen and (min-width: 900px) {

  .hero__img-wrapper {
    width: 375px;
    height: 451px;
  }

}

@media only screen and (min-width: 1024px) {
  
  .container {
    padding: 0 20px;
  }
  
}


@media only screen and (min-width: 1100px) {
  
  .insure-section {
    background-position: calc(50% - 845px) calc(50% );
  }
  
  .hero {
    background-position: calc(50% + 565px) calc(50% - 110px);
  }
  
  .hero__img-wrapper {
    width: 540px;
    height: 650px;
    left: calc(50%);
    top: calc(50% - 198px);
  }
  
  .hero__img {
    width: 540px;
    height: 650px;
  }
  
  .hero__title-wrapper {
    width: 490px;
  }
  
  .hero__title {
    font-size: 72px;
  }
  
  .hero__title::before {
    margin-bottom: 63px;
  }
  
  .hero__text-wrapper {
    width: 535px;
  }
  
  .hero__text {
    font-size: var(--main-text-font-size);
  }
  
  .hero__link {
    width: 155px;
    padding: 13px 28.5px 12px;
  }

  .services {
    padding-top: 305px;
  }
  
  .services__title {
    margin-bottom: 96px;
    font-size: 72px;
  }
  
  .services__title::before {
    margin-bottom: 63px;
  }
  
  .services__list {
    margin-bottom: 158px;
  }
  
  .services__list-item-wrapper {
    width: 336px;
  }
  
  .services__list-item-title {
    font-size: var(--main-services-title-font-size);
  }
  
  .services__list-item-text {
    font-size: var(--main-text-font-size);
  }

}